<header class="page__header">

  <img class="logo-kaski" src=".\images\logocircle.png" alt="logo de Kaski Travel"/>
  <p class="kaski-travel">Kaski Travel</p>
 
  <div class="menu-header">
    <img class="burger-header" src=".\images\menu.png" alt="menú desplegable para móvil"/>
    
    <div class="link-header">
      <nav class="nav-header">
         <a class="home-header" href="./">Home</a>
         <a class="prize-header" href="./">Precios especiales</a>
         <a class="contact-header" href="contact.html">Contáctanos</a>
      </nav>
    </div>  
  </div>
</header>
