*{
    margin: 0;
    padding: 0;
    }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: Roboto, sans-serif;
    padding: 10px;
  }

.link {
    display:none;
}

.logo-spotify {
    width: 90px;
    height: auto;
    padding: 5px;
   }

.hamburguesa {
    width: 25px;
    height: 30px;
    padding: 5px;
   }

main {
    font-family: Roboto, sans-serif;
    }

.premium-section{
    background-color: #539CF2;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;         
    line-height: 25px;    
}

button {
    padding: 10px;
    background-color: #24B757;
    color:white;
    border-radius: 16px;
    border: none;
    font-size: 11px;
    font-weight: 700;
    width:100%;
      }

.title {
    font-size: 28px;
}

.description {
    margin:20px 0px;
    font-weight: 700;
}

.terms {
    margin-top: 40px;
    font-size: 10px;
    line-height: 15px;
}

img {
    height: 60px;
    width: 60px;
    }

.main-section {
    display: flex;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    flex-direction: column;
}

.benefit-1 {
    display:flex;
    flex-direction: row;
    margin: 50px;
    gap: 20px;
    font-size: small;
    line-height: 25px;
    text-align: left;
      }

.benefit-2 {
    display:flex;
    flex-direction: row;
    margin: 50px;
    gap: 20px;
    font-size: small;
    line-height: 25px;
    text-align: left;
       }

.benefit-3 {
    display:flex;
    flex-direction: row;
    margin: 50px;
    margin-bottom: 15px;
    gap: 20px;
    font-size: small;
    text-align: left;
    line-height: 25px;
        }

.benefit-4 {
    display:flex;
    flex-direction: row;
    margin: 50px;
    gap: 20px;
    text-align: left;
    font-size: small;
    line-height: 25px;
        }



footer {
    background-color: black;
    color: grey;
    font-family: roboto, sans-serif;
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
        }

.footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
       }
 
.banderita {
    width: 20px;
    height: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.text-right {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 7px;
        }

@media screen and (min-width: 736px) 
    {
    header {
        display:flex;
        height: 50px;
        }
    
    img { 
        width: 70px;
        height: 70px;
    }

    button {
        width: 130px;
    }

    .premium-section {
        background-image: url(./assets/images/premium_dancer.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
            }
    
    .title {
        font-size: 60px;
        line-height: 80px;        
    }

    .link { 
        display: flex;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        gap: 20px;
        margin-right: 20px;
        font-weight: 800;
        text-decoration: none;
        color: white;
           }
    
    .link a {
        color: white;
        text-decoration: none;
            }
           
    .hamburguesa {
        display: none;
            }

.main-section {
       margin-top: 25px;
    margin-bottom: 30px;
            }

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;

}

.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
   

.benefit-1 {
    width: 35%;
    border: solid;
}

.benefit-2 {
  width: 35%;
  border: solid;
  box-sizing: border-box;
}

.benefit-3 {
  width: 35%;
  border: solid;
}

.benefit-4 {
 width: 35%;
 border: solid;
}

    }

/* @media screen and (min-width: 1024px)  */}