@use '../core/variables' as vars;
.kaski-web {
    font-family: vars.$font-main;
    color: black;
    font-size: 24px;
    font-weight: 800;
}
.blue-title {
    font-family: vars.$font-main;
    color: #5D50C6;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.logo-kaski {
    display: flex;
    flex-wrap: nowrap;
    width: 35px;
    height: 35px;
    margin-top: 8px;
        }                

