<footer class="page__footer">

    <div class="footer-logo">
        <img class="logo-kaski" src=".\images\logocircle.png" alt="logo de Kaski Travel"/>
        <p class="kaski-travel">Kaski Travel</p>
    </div>
 
    <div class="social-media">
        <img src=".\images\facebook.png" alt="icono de facebook">
        <img src=".\images\twitter.png" alt="icono de twitter">
        <img src=".\images\instagram.png" alt="icono de instagram">
    </div>

    <div class="footer-links">
        <nav class="nav-footer">
        <a  class="footer-homelink" href="./">Home</a>
        <a href="./">Nosotras</a>
        <a href="./">Contacto</a>
        </nav>
    </div>
</footer>
