<body>
<main class="main__pages">

<section class="start-section">
    <div class="container-img-start">
        <img class="start-img"    src=".\images\3img.png" alt="son tres imágenes de distintos paisajes de viajes, un pueblo, en la montaña y en la ciudad"/>
    </div>
    <div class="container-start-text">
       <h1 class="start-text">Descubre los   <span style="color: #F85E9F;"> mejores destinos </span> del mundo</h1>
    </div>     
    <div class="container-start-button">
        <button class="start-button">EMPEZAR</button>
    </div>
</section>

<section class="destiny-section">
    <p class="pink-title">TUS MEJORES VACACIONES</p>
    
    <div class="destiny-cards">
        <div class="beach-container">
            <img class="img-beach" src=".\images\orilla.png" alt="la orilla del mar"/>
            
            <div class="text-beach">
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 400 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Tenerife</p>
            </div>
        </div>
        
        <div class="submarine-container">
            <img class="img-submarine" src=".\images\pez.png" alt="es un pez"/>
            <div class="text-submarine">    
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 550 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Ibiza</p>
            </div>
        </div>
        
        <div class="montain-container">
            <img class="img-montain" src=".\images\montañas.png" alt="cordillera de los Picos de Europa"/>
            <div class="text-montain">    
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 300 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Picos de Europa</p>
            </div>
        </div>
    </div>
</section>









</main>
</body>