<body>
<main class="main__pages">

<section class="start-section">
    <div class="container-img-start">
        <img class="start-img"    src=".\images\3img.png" alt="son tres imágenes de distintos paisajes de viajes, un pueblo, en la montaña y en la ciudad"/>
    </div>
    <div class="container-start-text">
       <h1 class="start-text">Descubre los   <span style="color: #F85E9F;"> mejores destinos </span> del mundo</h1>
    </div>     
    <div class="container-start-button">
        <button class="start-button">EMPEZAR</button>
    </div>
</section>

<section class="destiny-section">
    <p class="pink-title">TUS MEJORES VACACIONES</p>
    
    <div class="destiny-cards">
        <div class="beach-container">
            <img class="img-beach" src=".\images\orilla.png" alt="la orilla del mar"/>
            
            <div class="text-beach">
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 400 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Tenerife</p>
            </div>
        </div>
        
        <div class="submarine-container">
            <img class="img-submarine" src=".\images\pez.png" alt="es un pez"/>
            <div class="text-submarine">    
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 550 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Ibiza</p>
            </div>
        </div>
        
        <div class="montain-container">
            <img class="img-montain" src=".\images\montañas.png" alt="cordillera de los Picos de Europa"/>
            <div class="text-montain">    
                <p class="prize" style="color:#f85e9f; font-weight: 900;"> 300 €</p>
                <p class="destiny-text" style="color:#000000; font-weight: 900;">Picos de Europa</p>
            </div>
        </div>
    </div>
</section>

<section class="girlbag-section">
    <img  class="img-girlbag" src=".\images\girlbag.png" alt="es una chica con sus maletas"/>
    <div class="container-girlbag">
        <p class="pink-title">PREPARA LAS MALETAS</p>
        <h1 class="text-girlbag"><strong>Todo lo que deseas, a tu medida</strong></h1>
        <div class="cards-girlbag">
            <div class="party-girlbag">
                <p style="color:#FF5A26; font-weight: 600; font-size: 20px;">500+</p>
                <p style="font-size: 12px;">Fiestas</p>
            </div>
            <div class="hotel-girlbag">
                <p style="color:#FF5A26; font-weight: 600; font-size: 20px;">100</p>
                <p style="font-size: 12px;">Hoteles de lujo</p>
            </div>
        </div>
    </div>
</section>

<section class="surf-section">
    <div class="container-img-surf">
        <img class="img-surf" src=".\images\blacksurf.png" alt="en la imagen se ve una iglesia de fondo y un hombre haciendo surf en el mar"/>
    </div>
    <div class="text-surf">
    <p class="pink-title">NO NECESITAS BUSCAR MÁS</p>
    <h1 class="title-surf"><strong>Los mejores servicios con Kaski Travel</strong></h1>
        
        <div class="services-surf">

                <img class="icon-landpoint" src=".\images\ubicacion.png">
                <div class="text-landpoint">
                    <h4 class="title-services">Visitas inolvidables</h4>
                    <p class="subtitle-services">Todos los lugares de interés</p>
                </div>
            

                <img class="icon-calendar" src=".\images\calendario.png">
                <div class="text-calendar">   
                    <h4 class="title-services">Elige fecha</h4>
                    <p class="subtitle-services">Reserva ya tus mejores planes</p>
                </div>

                <img class="icon-culture" src=".\images\entrada.png">
                <div class="text-culture">
                    <h4 class="title-services">Agenda cultural</h4>
                    <p class="subtitle-services">Consulta los próximos eventos</p>
                </div>
        </div>
    </div>
  </section>


</main>
</body>