<header>
    <nav class="nav-links">
        <a href="./" rel="todos los caminos llevan a Adalab">Productos</a>
        <a href="./" rel="todos los caminos llevan a Adalab">Colecciones</a>
        <a href="./" rel="todos los caminos llevan a Adalab">Tienda</a>
        <a href="./" rel="todos los caminos llevan a Adalab">Inicio</a>
    </nav>
    <a href="https://adalab.es" target="_blank"><img src="./images/bars-solid.svg" alt="menú hamburguesa" class="burguer"></a>
    <div class="header_logo"> <img src="./images/logo.png" alt="logo de Open Spaces" class="logo"> </div>
 
      
</header>
