<main class="page__main" id="top">
  <section class="section-enjoy" >
    <div class=enjoy><h2 class="enjoy-text" >Disfruta creando espacios</h2></div>
    <div class="buttonEnjoy"><button class="button" >Comprar ahora</button></div>
  </section>

  <section class="sectionOpenspaces">
    <h2 class="openspacesText">Volverse organizado se siente mejor con OPEN SPACES</h2>
        <div class="firstService">
          <img src="./images/icon_1.png" alt="icono lo que necesitas" class="imagesOpen">
          <p class="openTitle">Lo que necesitas </p>
          <p class="openSubtitle">Una linea de productos diseñados para todos tus espacios</p>
        </div>

        <div class="secondService">
          <img src="./images/Biodegradable_bag.png" alt="icono materias primas sustentables" class="imagesOpen">
          <p class="openTitle">Materias primas <p>
          <p class="openSubtitle">Todos los productos con materias primas sustentables</p>
        </div>

        <div class="thirdService">
          <img src="./images/Park.png" alt="icono guía" class="imagesOpen">
          <p class="openTitle">Guía<p>
          <p class="openSubtitle">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
  </section>

  <section class="sending">
      <img src="./images/go_6.png/" alt="indica envío con una furgoneta en marcha" class="imageSending">
      <p class="sendingTitle">Envío gratis garantizado</p>
      <p class="sendingSubtitle">Envío gratis en compras desde 100 €</p>
      <a href="./">Compra ahora</a>
  </section>

  <section class="bath">
      <div class="bathText">
          <p class="bathTitle">Disfruta creando espacios</p>
          <p class="bathDescription">Una línea de productos diseñados para todos tus espacios</p>
          <button class="button">Compra Ahora</button>
      </div>
      <div class="bathImage"></div>
  </section>

</main>

<footer class="page_footer">
  <div class="articles">
      <div class="shopArticle">
        <p class="shop">Tienda</p>
         <!-- corregido con Ana añado el nav -->
          <nav>                    
            <ul>
                <li><a href="https://adalab.es" target="_blank">Productos</a></il>
                <li><a href="https://adalab.es" target="_blank">Cajoneras</a></il>
                <li><a href="https://adalab.es" target="_blank">Para toda la casa</a></il>
                <li><a href="https://adalab.es" target="_blank">Habitaciones</a></il>
              </ul>
            </nav>
      </div>

      <div class="aboutArticle">
        <p class="aboutUs">Nosotros</p>
          <ul>
            <il><a href="https://adalab.es" target="_blank">Nuestra guía</a></il>
            <il><a href="https://adalab.es" target="_blank">Nuestro diseño</a></il>
            <il><a href="https://adalab.es" target="_blank">Nuestra historia</a></il>
            <il><a href="https://adalab.es" target="_blank">Ayuda</a></il>
          </ul>
      </div>    
      
      <div class="contactArticle">
        <p class="contact">Contacto</p>
          <ul>
            <il><a href="./" >ayuda@openspaces.com</a></il>
            <il><a href="./">Socios</a></il> 
       
            <div class="imageFooter">
              <img src=".\images\linkedin.svg" alt="icono de LinkedIn">
              <img src=".\images\instagram.svg" alt="icono de Instagram">
              <img src=".\images\twitter.svg" alt="icono de Twitter">
            </div>
          </ul>
      </div>
           
          <div class="goUp">
            <a href="#top"><img src="./images/arrow-up-solid.svg" alt="icono para volver al inicio de la página" class="arrow"></a>
          </div>   
  </div>
</footer>
