@use '../core/variables' as vars;

.button {
    background-color: vars.$colorButton;
    color: white;
     width: 176px;
     height: 48px;
     font-family: vars.$fontText;
     font-size: 16px;   
            }
        .button:hover {
            background-color: rgb(67, 107, 107);
            color: rgb(25, 201, 201);
                }


