header a {
    color: #0C474B;
    text-decoration: none;
    margin: 20px; 
    font-family: Roboto, sans-serif;   
        } 

a:hover {
     color: #3542f6;
        }

.sending a {
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
        }

.page_footer a {
    color: #b6c8c9;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
           }
        
