@use '../core/variables' as vars;
  
.destiny-section {
    background-color: vars.$color-bg;

    .pink-title {
        padding-top: 20px;
        margin: 0;
    }

    .destiny-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        gap: 50px;
        background-color: vars.$color-bg;
        padding-bottom: 60px;
        padding-top: 40px;
        width: fit-content;

            .beach-container {
                border-radius: 30px;
                border-top-left-radius: 70px;
                border-top-right-radius: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                    .img-beach {
                        margin-bottom: 30px;
                            }
                    .text-beach {
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        gap:10px;
                        text-align: left;
                            }
                }
            .submarine-container {
                border-radius: 30px;
                border-top-left-radius: 70px;
                border-top-right-radius: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                    .img-submarine {
                        margin-bottom: 40px;
                            }
                    .text-submarine {
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        gap:10px;
                        text-align: left;
                            }
                }
            .montain-container {
                border-radius: 30px;
                border-top-left-radius: 70px;
                border-top-right-radius: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                    .img-montain {
                        margin-bottom: 40px;
                            } 
                    .text-montain {
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        gap:10px;
                        width:300px;
                        text-align: left;
                            }       
                    }
    }
}