@use '../core/variables' as vars;

.page__footer {
    font-family: vars.$font-main;
    background-color: vars.$color-bg;
    padding-left: 20px;
    padding-bottom: 50px;

    .footer-logo {
        display: flex;
        gap: 15px;
        align-items: center;
            .kaski-travel {
                font-size: 15px;
                font-weight: 700px;
                padding-top: 5px;
                    }
            .logo-kaski {
                width: 25px;
                height: 25px;
            }
        }
    
    .social-media {
        width: 25px;
        height: 25px;
        display: flex;
        gap: 25px;
        margin-top: 20px;
    }

    .footer-links {
        display: none;

        .nav-footer {
            font-size: 12px;
            color: #191825c0;
            display: flex;
            flex-direction: column;
            gap: 40px;
                .footer-homelink {
                    font-size: 15px;
                    color: #191825;
                    font-weight: 600;
                        }
            }
    }
}