@use '../core/variables' as vars;
.contact__main {
    background-color: #5e50c60d;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

        .main-container {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;

                .form-container {
                    font-family: vars.$font-main;
                    margin-top: 50px;   
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 60px;
                    
                        #email, #firstName, #comments {
                            background-color: white;
                            border-radius: 20px;
                            border: none;
                            height: 70px;
                            width: 200px;
                            padding-left: 20px;
                                }
                            #comments {
                                width: 400px;
                                height: 150px;
                                    ::placeholder {
                                        text-align: left;   
                                        vertical-align: top
                                    }
                            }
                        
                            ::placeholder {
                            font-weight: bold;
                            color: #727276c0;
                            }

                        #submit {
                        font-family: vars.$font-main;
                        background-color: #5D50C6;
                        border: none;
                        border-radius: 20px;
                        height: 60px;
                        width: 120px;
                        color: white;
                        }                   
                    }
                .map {
                    width: 100%;
                    height: auto;
                    padding-top: 125px;
                }
            }
        }