@use '../core/variables' as vars;

.girlbag-section {
    background-color: vars.$color-bg;
    padding-left: 20px;


    .img-girlbag {
        width: 100%;
        padding: 0, 20px, 50px, 0px;
        background-color: vars.$color-bg;
            }
    .container-girlbag {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

.girlbag-section {
    display: flex;

    .img-girlbag {
        width: 50%;
            }
    .container-girlbag {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: vars.$color-bg;
            .green-title {
                padding-left: 0;
            }         
            .text-girlbag {
                width: 250px;
                margin-left: 40px;
                        }
            .cards-girlbag {
                display: flex;
                justify-content: center;
                            
                .party-girlbag {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 40px;
                    border: solid;
                    border-color: #F0F0F0;
                    border-radius: 20px;
                    border-width: 1px;
                    background-color: white;
                    width: 110px;
                    height: 80px;
                        }
                .hotel-girlbag{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 40px;
                    border: solid;
                    border-color: #F0F0F0;
                    border-radius: 20px;
                    border-width: 1px;
                    background-color: white;
                    width: 110px;
                    height: 80px;            
                        }
            }
        }
    }
}